.footer-container{
  width: 100%;
  text-align: center;

  margin-bottom: 26.96px;
}
.footer-container .box-term{
  width: 100%;

  margin-bottom: 26.01px;
}
.footer-container .box-term span{
  display: block;

  font-weight: 200;
  font-size  : 10px;
  line-height: 12px;
}
.footer-container .name-footer{
  width: 100%;
}
.footer-container .name-footer h3{
  font-weight: 800;
font-size: 10px;
line-height: 12px;
}
@media (min-width:1280px){
  .footer-container{
    height: 89.11px;
    background-color: #fff;

    color: #000;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;

    padding: 0 95px;
    margin-bottom: 0;
  }
  .footer-container .box-term{
    margin-bottom: 0;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 56.18px;
  }
  .footer-container .box-term span{
    font-weight: 400;
    font-size  : 20px;
    line-height: 24px;
  }
  .footer-container .name-footer{
    text-align: left;
  }
  .footer-container .name-footer h3{
    font-weight: 400;
    font-size  : 21.0616px;
    line-height: 25px;
  }
}